/* Fonts*/
@font-face {
    font-family: 'EBGaramond';
    src: url('../Fonts/EBGaramond-VariableFont_wght.ttf') format('truetype');
 }

/* Body Element*/
body {
	background: #E0E0E0;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
  flex: 1;
}

/* No more purple links*/
a:visited {
  color: blue;
}

/* Image Drag*/
img {
  -webkit-user-drag: none;
}

/* ??? */
.liam {
	text-align: center;
    font-size: 30px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-color: #282A35;
	overflow: hidden;
	position: sticky;
	top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
}

/* Change the color of links on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
	background-color: #04AA6D;
	color: white;
}

/* Footer*/
footer ul {
	list-style: none;
	padding: 0;
    margin: 0;
	display: inline-block;
}

footer {
	background-color: #282A35;
	color: white;
	text-align: center;
	clear: both;
}


/* Logo*/
.mslogo {
	font-family: 'EBGaramond';
	background: #04AA6D;
	margin:0;
}

/* Character Image*/
.char-image {
	width: 30%;
	float: left;
	text-align: center;
}

/* Character Selector*/
.image-selectors {
	margin: 5px;
}

/* Character Image Selector*/
.iselector {
	display: inline-block;
	padding: 6px;
	border: 2px solid black;
	border-radius: 10px;
	font-weight: bold;
}

/* Character Info*/
.char-info {
	width: 70%;
	float: right;
	text-align: center;
}

/* Character Description*/
.char-inner {
	text-align: left;
}

/*Character Stats*/
.panel {
	display: inline-block;
	padding: 6px;
	border: 2px solid black;
	margin-bottom: 20px;
	border-radius: 10px;
}

/* Character Panel*/
.char-panel {
	float: left;
	text-align: center;
	margin-left: 8%;
	margin-bottom: 10px;
	border: 2px solid;
	background: #aa3;
	height: 233px;
	border-radius: 15px;
}

/* Character Name*/
.char-name {
	background: rgba(255,255,255,.5);
	display: none;
	position: relative;
	bottom: 31px;
	font-size: 1.4rem;
	border-radius: 12px;
}
.char-panel:hover .char-name {
  display: block;
}

/* FAQ Box*/
.faq-box {
	border: 2px solid black;
	border-radius: 30px;
	padding-left: 20px;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 10px;
}

/* Fona Chart*/
.charts {
	text-align: center;
}

/* 404 div*/
.d404 {
	border-radius: 200px;
	border: 2px black solid;
	width: 200px;
	height: 200px;
	overflow: hidden;
	background: #04AA6D;
}